.overlay {
    opacity: 0;
    touch-action: none;
    animation: fade-in 5s ease 1s forwards;
}

.char {
    color: var(--room-color);
    position: absolute;
    font-size: 9vw;
    font-weight: 800;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
}

.instructions {
    color: var(--room-color);
    position: absolute;
    font-size: 1.5vw;
    font-weight: 800;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    max-width: 20vw;
}