html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

canvas {
    touch-action: none;
}

/* 
 * Message Bubble in Groom
 */

/* Zoom in effect */

.zoom-in-out-fade-example {
    transform: scale(0);
    opacity: 1;
    transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
    transform-origin: top right;
}

.zoom-in-out-fade-example.show {
    transform: scale(1);
    /* opacity: 1; */
}

.zoom-in-out-fade-example.hide {
    transform: scale(0.5);
    opacity: 0;
}

/* Link color */

a {
    color: #729c65;
}

a:hover {
    color: #556481;
}

/* CSS talk bubble */
.talk-bubble {
    margin: 40px;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 400px;
    height: auto;
    background-color: #c3c4c1;
}

.round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

/* Right triangle placed top right flush. */
.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -18px;
    top: 0px;
    bottom: auto;
    border: 25px solid;
    border-color: #c3c4c1 transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
    font-size: 2em;
    padding: 0.05em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}