@import url('https://rsms.me/inter/inter.css');
@import url(https://fonts.googleapis.com/css?family=Khula:700);
/* * {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} */

body {
    color: #3e3e3d;
    font-family: 'Inter var', sans-serif;
    user-select: none;
    cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iIzNlM2UzZCIvPjwvc3ZnPg=='),
        auto;
}

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
}

canvas {
    cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iIzNlM2UzZCIvPjwvc3ZnPg=='),
        auto;
    /* touch-action: none; */
}


/* 
 * Arrows
 */
:root {
    --room-color: #7f7f7a;
}

.arrow {
    color: var(--room-color);
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
}

.arrow:hover {
    cursor: pointer;
}

/* hover-underline-animation */
.hover-underline-animation {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: var(--room-color);
}

.hover-underline-animation::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 101%;
    transform: scaleX(0);
    height: 2px;
    background-color: var(--room-color);
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    bottom: 0;
    left: 0;
    transform: scaleX(1);
}


/* left-to-right */
.left-to-right::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

.left-to-right:hover::after {
    transform-origin: bottom left;
}


/* right-to-left */
.right-to-left::after {
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
}

.right-to-left:hover::after {
    transform-origin: bottom right;
}


/* hover-vertical-animation */
.hover-underline-animation2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: var(--room-color);
}

.hover-underline-animation2::after {
    content: '';
    position: absolute;
    height: 100%;
    transform: scaleY(0);
    width: 2px;
    top: 0;
    background-color: var(--room-color);
    transition-delay: 0.25s;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation2:hover::after {
    transform: scaleY(1);
    transition-delay: 0.25s;
}

.right-vertical::after {
    right: -2px;
}

.left-vertical::after {
    left: -2px;
}

/* 
 * Kitchen
 */

/* Zoom in effect */

.zoom-in-out-fade-Kitchen {
    transform: scale(0);
    opacity: 1;
    transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
}

.talk-bubble-kitchen:hover {
    cursor: pointer;
}


.right-top-origin {
    transform-origin: right top;
}

.left-top-origin {
    transform-origin: left top;
}

.zoom-in-out-fade-Kitchen.show {
    transform: scale(1);
    /* opacity: 1; */
}

.zoom-in-out-fade-Kitchen.hide {
    transform: scale(0.5);
    opacity: 0;
}


/* CSS talk bubble */
.talk-bubble-kitchen {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 180px;
    height: 110px;
    /* color: #729c65; */
    background-color: #c3c4c1;
}

.tri-left.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    left: -18px;
    top: 0px;
    bottom: auto;
    border: 25px solid;
    border-color: #c3c4c1 transparent transparent transparent;
}

/* 
 * WRoom
 */

/* Zoom in effect */

.zoom-in-out-fade-WRoom {
    transform: scale(0);
    opacity: 1;
    transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
    transform-origin: center;
}

.zoom-in-out-fade-WRoom.show {
    transform: scale(1);
    /* opacity: 1; */
}

.zoom-in-out-fade-WRoom.hide {
    transform: scale(0.5);
    opacity: 0;
}


/* 
 * Message Bubble in Groom
 */

/* Zoom in effect */

.zoom-in-out-fade-example {
    transform: scale(0);
    opacity: 1;
    transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
    transform-origin: top right;
}

.zoom-in-out-fade-example.show {
    transform: scale(1);
    /* opacity: 1; */
}

.zoom-in-out-fade-example.hide {
    transform: scale(0.5);
    opacity: 0;
}

/* Link color */

a {
    text-decoration: none;
    color: #729c65;
}

a:hover {
    color: #556481;
}

/* CSS talk bubble */
.talk-bubble {
    margin: 40px;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 400px;
    height: auto;
    background-color: #c3c4c1;
}

.round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

/* Right triangle placed top right flush. */
.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -18px;
    top: 0px;
    bottom: auto;
    border: 25px solid;
    border-color: #c3c4c1 transparent transparent transparent;
}


/* talk bubble contents */
.talktext {
    font-size: 2em;
    padding: 0.05em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

canvas {
    opacity: 0;
    touch-action: none;
    animation: fade-in 5s ease 1s forwards;
}

.intro {
    color: var(--room-color);
    position: absolute;
    font-size: 9vw;
    font-weight: 800;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow,
.overlay {
    opacity: 0;
    touch-action: none;
    animation: fade-in 5s ease 1s forwards;
}

.char {
    color: var(--room-color);
    position: absolute;
    font-size: 9vw;
    font-weight: 800;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
}

.instructions {
    color: var(--room-color);
    position: absolute;
    font-size: 1.5vw;
    font-weight: 800;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    max-width: 20vw;
}

.intro-container {
    opacity: 1;
    transition: opacity 3s ease;
    text-align: center;
    border: #111 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 1;

}

.intro-container.fade-out {
    opacity: 0;
}